body{
    background-color: black;
    margin-top: 100px;
    font-family: sans-serif;
}

.post{
    background-color: white;
    height: 580px;
    width: 400px;
    margin: auto;
}

.header{
    display: flex;
}

.nameDescription{
    margin-top: 10px;
}

.rigoberto{
    margin: 0;
}
    
.iconHTML{
    margin: 15px;
}

.iconElipsis{
    margin-top: 12px;
    margin-left: 265px;
}

.content{
    height: 290px;
}

img{
    width: 100%;
    height: 100%;
}

.footer{
    padding-left: 10px;
    padding-right: 11px;
}

.footerIconHeader{
    margin-top: 10px;
}

.negrito{
    font-weight: bold;
}