body{
    background-color: black;
}

.post{
    background-color: white;
    width: 450px;
    height: 60px;
    margin: auto;
}

.posthead{
    margin-top: 70px;
    display: flex;
}

.icon1{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.city{
    margin-top: -15px;
    font-size: 13px;
}

.postbody{
    width: 450px;
    height: 200px;
    margin: auto;
}

img{
    width: 100%;
    height: 120%;
}

.postfooter{
    width: 450px;
    height: 250px;
    background-color: white;
    margin: auto;
}